/* CSS Document */
body
{
margin:0;
padding:0;
height:600px;
}

h1
{
background:#990000;
margin:0;
padding-left:1%;
padding-bottom:1%;
padding-top:1%;
color:#FFFFFF;
height:10%;
}

.left
{
width:10%;
background:#000099;
color:#FFFFFF;
float:left;
padding-left:1%;
padding-bottom:1%;
padding-top:1%;
height:90%;
margin:0px;

}

.left a
{
color:#FFFFFF;
}

.other
{
width:88%;
padding-left:1%;
padding-bottom:1%;
padding-top:1%;
height:90%;
margin:0px;
background:#009900;
float:right;
}